<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            This Is Where It Starts
        </h2>
        <p>
            The stories. The smoke. The meal that brings it all together. Don’t wait for a better reason. Gather the crew and make it a day worth remembering.
        </p>
        <a href="/contact" class="cs-button-solid">Book Your Cook</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/EllsworthCooks-5495-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/EllsworthCooks-5495.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/EllsworthCooks-5495.webp" alt="ellsworth cooks event" loading="lazy" width="1080" height="720">
    </picture>

</section>