<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-80">
    <!-- Need this to create a stage for the stripes, and use overflow: hidden on this container so the stripes don't overlap the sections above and below #cta -->
    <div class="cs-stripes"></div>
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-content">
            <span class="cs-topper">Contact us</span>
            <h2 class="cs-title">Ready To Get Started?</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas adipiscing nulla suspendisse bibendum arcu diam, pellentesque lorem. Amet hac et sed rhoncus magna. Nisl neque ut varius volutpat morbi.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Contact Us</a>
        </div>
        <!-- Right Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/construction.jpg" alt="building" width="457" height="632">
        </picture>
    </div>
</section>