<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/ellsworth-cooks-logo-white_300x300 (1).svg" alt="logo" width="300" height="300"></a>
            
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Sitemap</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/reviews">Testimonials</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>
                        <a href="/private-chef">Private Chef</a>
                    </li>
                    <li>
                        <a href="/fishing-charters">Fishing Charters</a>
                    </li>
                    <li>
                        <a href="/events">Community Events</a>
                    </li>
                    <li>
                        <a href="/content">Branded Content</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            <!-- {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br> -->
                            {{client.address.city}},
                            {{client.address.state}}
                            <!-- {{client.address.zip}} -->
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                     <!-- Social Media -->
                <div class="cs-social-group cs-social">
                    <a class="cs-social-link" aria-label="visit instagram profile" href="{{client.socials.instagram}}">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg" alt="instagram" width="11" height="11">
                    </a>
                    <a class="cs-social-link" aria-label="visit facebook profile" href="{{client.socials.facebook}}">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg" alt="facebook" width="6" height="11">
                    </a>
                    <a class="cs-social-link" aria-label="visit youtube profile" href="{{client.socials.youtube}}">
                        <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/YouTube.svg?updatedAt=1748258555060" alt="youtube" width="11" height="11">
                    </a>
                </div>
            </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Coded by</span>
        <a href="https://sortacreative.co/" target="_blank" rel="noopener">Sorta™ Creative</a>
        <span class="copyright">
            Copyright {% year %}</span>
    </div>
</footer>
