---
title: 'About the Chef | Ellsworth Cooks'
description: 'Meta description for the page'
preloadImg: 'https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/haris-suljic-VpjPHuFAI-4-unsplash-scaled.webp?updatedAt=1748235866564'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About the Chef</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/haris-suljic-VpjPHuFAI-4-unsplash-scaled.webp?updatedAt=1748235866564">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/haris-suljic-VpjPHuFAI-4-unsplash-scaled.webp?updatedAt=1748235866564">
            <img aria-hidden="true" decoding="async" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/haris-suljic-VpjPHuFAI-4-unsplash-scaled.webp?updatedAt=1748235866564" alt="open fire" loading="eager" width="2560" height="1708">
        </picture>

    </section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/Jason%20Ellsworth%20BioPic%20(2).webp?updatedAt=1748235044657">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/Jason%20Ellsworth%20BioPic%20(2).webp?updatedAt=1748235044657">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/Jason%20Ellsworth%20BioPic%20(2).webp?updatedAt=1748235044657" alt="Jason Ellsworth" width="1000" height="1000">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Meet Jason</span>
            <h2 class="cs-title">Camp Chef. Outdoorsman. Storyteller.</h2>
            <p class="cs-text">
                I’ve always felt at home in the outdoors with a bow, a rod, or a skillet in hand. Cooking became the thread that tied it all together: the hunt, the harvest, the people. I didn’t set out to be a chef. I just liked feeding people after a long day outside. I cook to honor the work that got us there, and the folks I’m feeding. 
            </p>
            <p class="cs-text">
                The longer I’ve done this, the more I’ve realized it’s not just about the setting or the food - it’s about what happens around it. The stories. The stillness. The sense that you’re exactly where you’re supposed to be.
            </p>
            <a href="" class="cs-button-solid">From the Field</a>
        </div>
    </div>
</section>
       

    {% include 'components/cta.html' %}

{% endblock %}