/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-81 {
    z-index: 1;
    position: relative;
    /* Prevents white rectangle pseudos from overlapping the sections below */
    overflow: hidden;
    /* 144px - 300px - leaving extra space for the navigation */
    padding: clamp(9rem, 25.95vw, 18.75rem) 1rem 0;
    /* 130px - 450px */
    padding-bottom: clamp(12.125rem, 30.95vw, 28.125rem);
    /* Centers button */
    text-align: center;
  }
  #hero-81 .cs-background {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
  }
  #hero-81 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #hero-81 .cs-background:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    /* Overlay */
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero-81 .cs-container {
    margin: auto;
    max-width: 67.5rem;
    width: 100%;
  }
  #hero-81 .cs-title {
    position: relative;
    /* 16px - 24px */
    margin: 0 auto clamp(1rem, 4vw, 1.5rem);
    max-width: 51.8125rem;
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    line-height: 1.2em;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
  #hero-81 .cs-title:after {
    position: relative;
    /* Divider Line */
    content: "";
    opacity: 1;
    display: block;
    /* 16px - 24px */
    margin: clamp(1rem, 4vw, 1.5rem) auto clamp(1rem, 4vw, 1.5rem);
    background: var(--primary);
    /* 4px - 8px */
    height: clamp(0.25rem, 0.8vw, 0.5rem);
    /* 60px - 100px */
    width: clamp(3.75rem, 9.5vw, 6.25rem);
  }
  #hero-81 .cs-text {
    margin: 0 auto;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    /* 464px - 800px */
    max-width: clamp(29rem, 60vw, 50rem);
    width: 100%;
    /* 16px - 25px */
    font-size: clamp(1rem, 1.95vw, 1.5625rem);
    line-height: 1.5em;
    color: #fff;
    text-align: center;
  }
  #hero-81 .cs-button-solid {
    z-index: 1;
    position: relative;
    display: inline-block;
    border-radius: 0.25rem;
    margin: auto;
    background-color: var(--primary);
    min-width: 9.375rem;
    padding: 0 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    font-weight: 700;
    color: #1a1a1a;
    transition: color 0.3s;
  }
  #hero-81 .cs-button-solid:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 1;
    border-radius: 0.25rem;
    background: #000;
    height: 100%;
    width: 0%;
    transition: width 0.3s;
  }
  #hero-81 .cs-button-solid:hover {
    color: #fff;
  }
  #hero-81 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-81:before {
    z-index: 0;
    position: absolute;
    bottom: -139.6875rem;
    /* this makes the right edge sit at the 50% line at all times */
    right: 50%;
    /* Left side of the triangle */
    content: "";
    opacity: 1;
    transform: rotate(-67deg);
    display: block;
    background: #fff;
    /* make really long so it covers the whole screen all the way to desktop */
    height: 250rem;
    width: 31.25rem;
    transform-origin: center;
  }
  #hero-81:after {
    z-index: 0;
    position: absolute;
    bottom: -139.6875rem;
    /* this makes the left edge sit at the 50% line at all times */
    left: 50%;
    /* Right side of the triangle */
    content: "";
    opacity: 1;
    transform: rotate(67deg);
    display: block;
    background: #fff;
    height: 250rem;
    width: 31.25rem;
    transform-origin: center;
  }
}
/* Desktop - 1300px (To make image background parallax) */
@media only screen and (min-width: 81.25rem) {
  #hero-81 {
    background: url("/assets/images/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* makes the parallax effect */
    background-attachment: fixed;
  }
  #hero-81 .cs-background img {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-81 .cs-background:before {
    opacity: 0.85;
  }
  body.dark-mode #hero-81:before,
  body.dark-mode #hero-81:after {
    background: var(--dark);
  }
}
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #h-services-81 {
    /* give a higher z index than the hero so it can sit on top */
    z-index: 10;
    position: relative;
    /* 40px - 100px */
    padding: 0 1rem clamp(2.5rem, 7.9vw, 6.25rem) 1rem;
  }
  #h-services-81 .cs-card-group {
    border-top: 8px solid var(--primary);
    border-radius: 0.3125rem;
    margin: 0 auto 0;
    /* negative margin pulls it up on top of the hero section */
    /* -46px to -76px - we're calculating whatever clamp is and multiplying by -1
            to make the value negative since clamp doesn't work with negative values */
    margin-top: calc(clamp(5rem, 13vw, 4.75rem)*-1);
    background-color: #fff;
    max-width: 29.0625rem;
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 40px - 60px top and bottom, 16px - 60px left & right */
    padding: clamp(2.5rem, 4.7vw, 3.75rem) clamp(1rem, 4vw, 3.75rem);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  }
  #h-services-81 .cs-item {
    margin: 0 auto 2.5rem;
    max-width: 22.5rem;
    width: 100%;
    list-style: none;
  }
  #h-services-81 .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #h-services-81 .cs-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    /* 20px - 24px */
    margin-bottom: clamp(1.25rem, 5vw, 1.5rem);
    background: var(--primary);
    /* 68px - 88px */
    height: clamp(4.25rem, 8.8vw, 5.5rem);
    /* 68px - 88px */
    width: clamp(4.25rem, 8.8vw, 5.5rem);
  }
  #h-services-81 .cs-icon img {
    height: auto;
    /* 44px - 52px */
    width: clamp(2.75rem, 5.8vw, 3.25rem);
  }
  #h-services-81 .cs-title {
    margin: 0 auto 0.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.2em;
    color: var(--headerColor);
    text-align: center;
  }
  #h-services-81 .cs-text {
    margin: 0 auto;
    max-width: 22.5rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: center;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #h-services-81 .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* -76px to -320px - we're calculating whatever clamp is and multiplying by -1
               to make the value negative since clamp doesn't work with negative values */
    margin-top: calc(clamp(4.75rem, 20vw, 20rem)*-1);
    max-width: 80rem;
    column-gap: 2.5rem;
  }
  #h-services-81 .cs-item {
    /* Reset margin so it doesn't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #h-services-81 .cs-card-group {
    background: var(--medium);
  }
  body.dark-mode #h-services-81 .cs-icon {
    background: var(--darkTint);
  }
  body.dark-mode #h-services-81 .cs-title {
    color: #fff;
  }
  body.dark-mode #h-services-81 .cs-text {
    color: #fff;
  }
}
