---
title: 'Ellsworth Cooks | Any Camp. Any Kitchen. Anywhere.'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-998">
    <div class="cs-container">
        <div class="cs-content">
            <!--Logo-->
            <picture class="cs-logo">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/Ellsworth%20Cooks%20Logo_2%20Color%20WHITE.webp?updatedAt=1748218923801">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/Ellsworth%20Cooks%20Logo_2%20Color%20WHITE.webp?updatedAt=1748218923801">
                <img decoding="async" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/Ellsworth%20Cooks%20Logo_2%20Color%20WHITE.webp?updatedAt=1748218923801" alt="logo" width="593" height="606">
                </picture>
        </div>
    </div>
    <!--Background Image-->
    <!--Image is also set as background image in CSS at 1400px for parallax effect-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/EllsworthCooks-1264.webp?updatedAt=1748218927073">
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/EllsworthCooks-1264.webp?updatedAt=1748218927073">
        <img decoding="async" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/EllsworthCooks-1264.webp?updatedAt=1748218927073" alt="Ellsworth Cooks" width="976" height="650">
        </picture>
</section>
             
<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-682">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/ellsworth-cooks-seasoning.webp?updatedAt=1748223589374">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/ellsworth-cooks-seasoning.webp?updatedAt=1748223589374">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/ellsworth-cooks-seasoning.webp?updatedAt=1748223589374" alt="ellsworth cooks seasoning" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/close-up-meat.webp?updatedAt=1748222087689">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/close-up-meat.webp?updatedAt=1748222087689">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/close-up-meat.webp?updatedAt=1748222087689" alt="close-up sliced venison" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/ellsworth-cooks-tacticalories.webp?updatedAt=1748222087792">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/ellsworth-cooks-tacticalories.webp?updatedAt=1748222087792">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/ellsworth-cooks-tacticalories.webp?updatedAt=1748222087792" alt="tacticalories event" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture4">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/ellsworth-cooks-grill.webp?updatedAt=1748222087698">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/ellsworth-cooks-grill.webp?updatedAt=1748222087698">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/ellsworth-cooks-grill.webp?updatedAt=1748222087698" alt="ellsworth-cooks-grill" width="306" height="360">
            </picture>
            <!--Zig Zag Graphic-->
            <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Hard-Won. Flame-Finished.</span>
            <h2 class="cs-title">More than a Meal.<br>It's a <span class="cs-color">Moment</span>.</h2>
            <p class="cs-text">
                From hunting camps to high-end brand events, Jason brings the same warm, welcoming energy to every gathering. The setting might change, but the intention never does: <strong>feed people well and make it matter.</strong>
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/icons-fire-3.svg?updatedAt=1748224566878" loading="lazy" decoding="async" alt="flame" width="40" height="40">
                        Field-Tested Expertise
                    </h3>
                    <p class="cs-item-text">
                        Jason isn’t just a chef, he’s an outdoorsman with decades of hunting, fishing, and cooking experience. Every dish honors the harvest and the people gathered around it.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/icons-fire-3.svg?updatedAt=1748224566878" loading="lazy" decoding="async" alt="flame" width="40" height="40">
                        Flame-Fueled Flavor
                    </h3>
                    <p class="cs-item-text">
                        Whether it’s wild game or American fare, every meal is cooked over open flame for deep, soulful flavor you can’t fake, and won’t forget!
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">
                        <img class="cs-icon" aria-hidden="true" src="https://ik.imagekit.io/w42ufkgf1p/EllsworthCooks/icons-fire-3.svg?updatedAt=1748224566878" loading="lazy" decoding="async" alt="flame" width="40" height="40">
                        Meals That Mean Something
                    </h3>
                    <p class="cs-item-text">
                        This isn’t catering. It’s campfire communion. Jason cooks to bring people together, honor the animal, and tell a story worth sitting down for.
                    </p>
                </li>
            </ul>
            <a class="cs-button-solid" href="/about">Meet Jason</a>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}
{% endblock %}